@import "./product";

.equipment {
  padding-top: 96px;

  &__text {
    max-width: 688px;
  }
  &__heading {
    margin-bottom: 24px;
  }
  &__p {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list {
    @include font-paragraph;
  }
  &__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $color-brand-default;
      left: 0;
      top: 6px;
    }
  }
  &__products {
    padding-top: 40px;
  }
}

@media all and (max-width: 1128px) {
  .equipment {
    &__text {
      max-width: 627px;
    }
  }
}

@media all and (max-width: 600px) {
  .equipment {
    padding-top: 64px;

    &__item {
      padding-left: 22px;
    }
  }
}
