.order-request {
  margin-top: 96px;
  padding: 64px 0;
  background: $color-bg-secondary;

  &__heading {
    margin-bottom: 8px;
  }
  &__desc {
    margin-bottom: 32px;
    max-width: 688px;
  }
}

@media all and (max-width: 600px) {
  .order-request {
    margin-top: 64px;
    padding: 40px 0;

    &__desc {
      margin-bottom: 16px;
    }
  }
}
