.form {
  &__heading {
    margin-bottom: 32px;
  }
  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    margin-bottom: 24px;

    .form__input-wrap {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__inputs {
    display: flex;
    flex-direction: column;
  }
  &__input-wrap {
    position: relative;
  }
  &__placeholder {
    @include font-small;
    color: $color-text-500;
    position: absolute;
    left: 16px;
    top: 18px;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  }
  &__input {
    @include font-small;
    padding: 26px 16px 8px 16px;
    width: 100%;
    border: 1px solid $color-text-300;
    transition: border 0.15s;

    &:hover {
      border: 1px solid $color-text-500;
    }
    &.valid {
      & ~ .form__placeholder {
        top: 8px;
        font-size: 12px;
      }
    }
    &:focus {
      outline: none;
      border: 1px solid $color-brand-default;

      & ~ .form__placeholder {
        top: 8px;
        font-size: 12px;
      }
    }
    &--message {
      height: 100%;
    }
  }
  &__file {
    .form__attach-default {
      @include visually-hidden;
    }
    label {
      display: flex;
    }
  }
  &__attach {
    display: inline-block;
    position: relative;
    @include font-tiny;
    padding: 6px 12px 6px 44px;
    background: $color-text-300;
    box-shadow: $shadow-btn;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      left: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM14 13V17H10V13H7L12 8L17 13H14Z' fill='black'/%3E%3C/svg%3E%0A");
      transition: background-image 0.2s ease-in-out;
    }

    &:hover {
      color: $color-text-700;
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM14 13V17H10V13H7L12 8L17 13H14Z' fill='%23616161'/%3E%3C/svg%3E");
      }
    }
  }
  &__attach-block-files {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  &__attach-files-delete {
    display: none;
    margin-left: 4px;
    height: 22px;
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__attach-files {
    display: inline-block;
    @include font-small;
  }
  &__personal-data {
    margin-top: 40px;
  }
  &__check {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      @include font-small;
      display: inline-flex;
      align-items: flex-start;
      user-select: none;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $color-text-300;
        margin-right: 12px;
        background-color: $color-bg-default;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &:checked + label::before {
      border-color: $color-brand-default;
      background-color: $color-brand-default;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99991 16.1698L4.82991 11.9998L3.40991 13.4098L8.99991 18.9998L20.9999 6.99984L19.5899 5.58984L8.99991 16.1698Z' fill='white'/%3E%3C/svg%3E");
    }
    // стили при наведении курсора на checkbox
    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: rgba($color-brand-default, 0.5);
    }
    // стили для активного состояния чекбокса (при нажатии на него)
    &:not(:disabled):active + label::before {
      background-color: rgba($color-brand-default, 0.1);
      border-color: rgba($color-brand-default, 0.1);
    }
    // стили для чекбокса, находящегося в фокусе
    &:focus + label::before {
      box-shadow: 0 0 0 0.2rem rgba($color-brand-default, 0.2);
    }
    // стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked
    &:focus:not(:checked) + label::before {
      border-color: rgba($color-brand-default, 0.2);
    }
    // стили для чекбокса, находящегося в состоянии disabled
    &:disabled + label::before {
      background-color: $color-text-300;
    }
  }
  &__personal-link {
    font-family: "Rolleston Display";
    color: $color-brand-default;
    text-decoration: underline;
  }
  &__btn {
    @include button-primary;
    @include font-subtitle;
    padding: 14px 40px;
    margin-top: 24px;
    &:disabled {
      cursor: progress;
      opacity: 0.5;
    }
  }
}

@media all and (max-width: 1128px) {
  .form {
    &__fields {
      grid-template-columns: 1fr;
      max-width: 628px;

      .form__input-wrap {
        margin-bottom: 16px;
      }
    }
    &__inputs {
      margin-bottom: 16px;
    }
    &__input--message {
      height: 200px;
    }
  }
}

@media all and (max-width: 600px) {
  .form {
    &__heading {
      margin-bottom: 24px;
    }
    &__fields {
      .form__input-wrap {
        margin-bottom: 8px;
      }
    }
    &__inputs {
      margin-bottom: 8px;
    }
    &__file label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__check + label,
    &__file label {
      flex-wrap: wrap;
    }
    &__attach {
      margin-bottom: 16px;
    }
    &__attach-files {
      margin-left: 0;
    }
  }
}

@media all and (max-width: 432px) {
  .form {
    &__personal-link {
      padding-left: 37px;
    }
  }
}
