@import "./accordion";

.about-dioxid {
  padding-top: 96px;
  background: $color-bg-secondary;

  &__prev {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
  }
  &__text {
    grid-column: 1 / 8;
  }
  &__heading {
    margin-bottom: 24px;
  }
  &__p {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    grid-column: 8 / 13;

    img {
      margin-left: auto;
      max-height: 320px;
      object-fit: contain;
      object-position: center;
      mix-blend-mode: multiply; // del
    }
  }
  &__accordion {
    padding: 40px 0 64px;
  }
  &__button {
    @include font-h3;
    @include button-primary;
    padding: 29px 40px;
    width: 100%;
  }
}

@media all and (max-width: 1128px) {
  .about-dioxid {
    &__prev {
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 24px;
    }
    &__text {
      grid-column: 1 / 8;
      margin-bottom: 40px;
    }
    &__image {
      grid-column: 1 / 8;
      height: auto;

      img {
        margin-left: 0;
        margin-right: auto;
        min-height: 380px;
        max-height: 480px;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .about-dioxid {
    padding-top: 64px;

    &__prev {
      grid-column-gap: 8px;
    }
    &__text {
      grid-column: 1 / 9;
    }
    &__p {
      margin-bottom: 12px;
    }
    &__image {
      grid-column: 1 / 9;

      img {
        margin: auto;
        max-height: 280px;
      }
    }
    &__accordion {
      padding: 24px 0 40px;
    }
    &__button {
      padding: 16px;
    }
  }
}
