*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

body {
  @include font-body;
  color: $color-text-900;
  background: $color-bg-default;
  min-height: 5500px;

  &.lock {
    overflow: hidden;
  }
}

.container {
  @include container;
}

h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

p {
  @include font-paragraph;
}
